body {
    text-align: center;
    background-color: rgb(40, 38, 38);
    color: #f3f0f0;
    font-family: Calibri;
}

.columns {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.column {
    width: 300px;
    padding: 10px;
    background-color: #5e5d5d;
    border-radius: 5px;
    height: 80vh; /* Фиксированная высота колонки */
    overflow-y: auto; /* Добавляем вертикальный скролл */
    scrollbar-width: none; /* Скрываем скроллбар в Firefox */
}

/* Скрываем скроллбар в Chrome, Safari и Edge */
.column::-webkit-scrollbar {
    display: none;
}

form {
    text-align: left;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

form input {

    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

form button {
    margin-right: 5px;
}

.note {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note.completed {

    color: white;
}

.note ul {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.note li {
    padding: 5px 0;
    width: 100%;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    background-color: #dcdbdb;
    cursor: pointer;
    transition: all ease-out 0.3s;
}

button:hover {
    transform: scale(102%);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.move-enter-active, .move-leave-active {
    transition: all 0.5s ease;
}

.move-enter-from, .move-leave-to {
    opacity: 0;
    transform: translateY(30px);
}