<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Менеджер заметок</title>
    <script defer src="js/vue.min.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
    <h1>Менеджер заметок</h1>

    <div class="columns">
        <div class="column">
            <h2>1</h2>

            <div v-if="showAddNoteForm">
                <h3>Добавление заметки</h3>
                <form @submit.prevent="addNote">
                    <div>
                        <input type="text" v-model="newNoteTitle" placeholder="Название" required>
                    </div>

                    <div v-for="(item, index) in newNoteItems" :key="index">
                        <input type="text" v-model="item.text" placeholder="Введите пункт" required>

                        <button v-if="newNoteItems.length === 3" @click.prevent="clearItem(index)">Очистить</button>

                        <button v-if="newNoteItems.length >= 4" @click.prevent="removeItem(index)">Удалить</button>
                    </div>

                    <button v-if="canAddItem" @click.prevent="addItem" :disabled="!canAddItem">Добавить пункт</button>
                    <button type="submit" :disabled="!newNoteTitle.trim()">Добавить заметку</button>


                    <label>
                        <input type="checkbox" v-model="isPriority"> Приоритетная карточка
                    </label>
                </form>
            </div>

            <button @click="toggleAddNoteForm" :disabled="!canAddNote">
                {{ showAddNoteForm ? "Отменить" : "Добавить новую заметку" }}
            </button>

            <transition-group name="move" tag="div">
                <div v-for="(note, index) in columns[0]" :key="note.id" :class="{'note': true}">
                    <h3>{{ note.title }}</h3>
                    <ul>
                        <li v-for="(item, i) in note.items" :key="i">
                            <input
                                    type="checkbox"
                                    v-model="item.done"
                                    @change="updateProgress()"
                                    :disabled="item.disabled || !canMarkItems">
                            {{ item.text }}
                        </li>
                    </ul>
                </div>
            </transition-group>
        </div>

        <div class="column">
            <h2>2</h2>
            <transition-group name="move" tag="div">
                <div v-for="(note, index) in columns[1]" :key="note.id" :class="{'note': true}">
                    <h3>{{ note.title }}</h3>
                    <ul>
                        <li v-for="(item, i) in note.items" :key="i">
                            <input type="checkbox" v-model="item.done" @change="updateProgress()">
                            {{ item.text }}
                        </li>
                    </ul>
                </div>
            </transition-group>
        </div>

        <div class="column">
            <h2>3</h2>
            <transition-group name="move" tag="div">
                <div v-for="(note, index) in columns[2]" :key="note.id" class="note completed">
                    <h3>{{ note.title }}</h3>
                    <p>Завершено: {{ note.completedAt }}</p>
                </div>
            </transition-group>
        </div>
    </div>
</div>
</body>
</html>